
node_modules/
.shadow-cljs/
.nrepl-port
.clj-kondo
.lsp
.calva
.cpcache
.DS_Store
resources/frontend/public/js
resources/backend/core.js
resources/backend/core.js
prod
target
target/index.js
.idea
database
pages
mongodb-data
.vscode
resources/backend/warpcast-images
resources/backend/uploads
resources/backend/files
resources/backend/shadow-cljs.log
resources/frontend/shadow-cljs.log
resources/backend/screenshots
cloudflare-mock-api/local-seed-dir
